.connected {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: stretch;
}

.chatSidebar {
    width: 15%;
    padding: 10px;
    background-color: #DAF0EE;
}

.connectedCenter {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 50%;
}

.chat {
    border-radius: 5px;
    background-color: #DAF0EE;
    margin-top: 5px;
    padding: 1%;
}

.chanTitle {
    font-weight: bold;
}

.menuChan {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}