/* .connected {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chatSidebar {
    width: 15%;
    border-radius: 5px;
    border-style: solid;
    border-color: #009688;
    background-color:#DAF0EE;
    margin-left: 1px;
    margin-right: 5px;
}

.connectedCenter {
    display: flex;
    flex-direction: column;
    max-width: 70%; 
	min-width: 60%;
}

.friendStatus {
    display: flex;
    flex-direction: column;
}

.chat {
    border-style: solid;
    border-color: #009688;
    background-color:#DAF0EE;
    margin-top: 5px;
    border-radius: 5px;
}

.chanTitle {
    font-weight: bold;
    margin-top: 0.5%;
    margin-left: 1%;
}

.messagesList {
    margin-left: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.inputMessage {
    margin-left: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.joinChan {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.createChan {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toggleLeaveChan {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
} */
