.flex-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-container > div {
    width: 33%;
    text-align: center;
}

img {
    width: 15%;
    height: auto;
}
