.connected {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.chatSidebar {
    width: 10%;
    border-style: solid;
    border-color: black;
}

.chatSidebar > table {
    table-layout: fixed;
    text-align: left;
    width: 100%;
}

.chatSidebar > table > thead th:nth-child(1) {
    width: 95%;
}

.connectedCenter {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.userSidebar {
    width: 10%;
    border-style: solid;
    border-color: black;
}

.userSidebar > table {
    text-align: left;
    table-layout: fixed;
    width: 100%;
}

.userSidebar > table > thead th:nth-child(1) {
    width: 25%;
}

.main {
    border-style: solid;
    border-color: black;
}

.chat {
    border-style: solid;
    border-color: black;
}

.matchmaking {
    background-color: grey;
    text-align: center;
}

.matchmaking_mode > img {
    clip-path:ellipse(33% 50%);
    width: 10%;
    height: auto;
}

.matchmaking_mode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.account-management {
    text-align: center;
}

.profil {
    text-align: center;
}

.player-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.history > table {
    table-layout: fixed;
    text-align: center;
}

.history > table > tbody > tr > td {
    padding: 10px;
}
