.matchmaking {
    background-color: grey;
    text-align: center;
}

.matchmaking_mode > img {
    clip-path:ellipse(33% 50%);
    width: 10%;
    height: auto;
}

.matchmaking_mode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.account-management {
    text-align: center;
}

.profil {
    text-align: center;
}

.player-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

table {
    table-layout: fixed;
    border-collapse: collapse
}

td {
    padding: 25px;
}
