.profil {
    text-align: center;
}

.player-profil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player-profil>img {
    border-radius: 50%;
    width: 200px;
    height: auto;
}

.player-interaction {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.player-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px 200px;
}

.history>table {
    table-layout: fixed;
    text-align: center;
}

.history>table>tbody>tr>td {
    padding: 10px;
}

.win {
    background-color: green;
}

.lose {
    background-color: red;
}
