.userSidebar {
    width: 10%;
    border-style: solid;
    border-color: #009688;
    background-color:#DAF0EE;
    margin-left: 5px;
    margin-right: 1px;
}

.userSidebar>table {
    text-align: left;
    table-layout: fixed;
    width: 100%;
}

.userSidebar>table>thead th:nth-child(1) {
    width: 25%;
}
