.userSidebar {
    min-width: 15%;
    background-color: #DAF0EE;
    padding: 10px;
}

.friend {
    display: flex;
    column-gap: 20px
}

.friend>img {
    object-fit: cover;
    width: 25%;
    max-height: 60px;
}

.friendInvite {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list {
    max-height: 70%;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.listinvite {
    max-height: 20%;
    overflow-y: auto;
    overflow-wrap: break-word;
}
