.flex-container {
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #009688;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.flex-container>div {
    width: 33%;
    text-align: center;
}

img {
    width: 15%;
    height: auto;
}
